.cards  {
  width: 100%;
  margin: 154px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

@media screen and (max-width: 1124px) {
  .cards {
    gap: 50px;
  }
}

@media screen and (max-width: 968px) {
  .cards  {
    grid-template-columns: repeat(2, 1fr);
    margin: 100px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    margin: 70px auto 0;
  }
}

@media screen and (max-width: 420px) {
  .cards  {
    grid-template-columns: 1fr;
    margin: 60px auto 0;
    gap: 40px;
  }
}
