.form__item {
  display: block;
  width: 100%;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  /* font-family: inherit; */
  font-family: 'Arial';
  background-color: white;
}


.form__item::placeholder {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: black;
}

.form__item::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1;
  color: black;
}
.form__item::-moz-placeholder {
  font-size: 14px;
  line-height: 1;
  color: black;
}

.form__item::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1;
  color: black;
}
