@import url(./__title/video__title.css);
@import url(./__videos/video__videos.css);
@import url(./__iframe/video__iframe.css);
@import url(./__responsive/video__responsive.css);


.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
