.places__text {
  width: 57.71%;
  margin: 0 84px 37px;
  font-weight: 500;
}

.places__text:last-child {
  margin-bottom: 104px;
}

@media (max-width: 1370px) {

  .places__text:last-child {
    margin-bottom: 25px;
  }

}
