.footer__link {
  margin: 0 30px 0 0;
}

.footer__link:last-child {
  margin: 0;
}

@media screen and (max-width: 728px) {
  .footer__link {
    margin: 0 0 15px 0;
  }

  .footer__link:last-child {
    margin: 0;
  }

}
