.video__title {
  display: flex;
  justify-content: center;
  margin: 80px auto 80px;
  font-size: 40px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .video__title {
    margin: 60px auto 60px;
  }
}

@media screen and (max-width: 568px) {
  .video__title {
    margin: 40px 15px 40px;
    font-size: 30px;
  }
}

@media screen and (max-width: 428px) {
  .video__title {
    margin: 40px 10px 40px;
    font-size: 24px;
  }
}
