.form__title {
  font-size: 40px;
  font-weight: bold;
  margin: 165px 80px 0;
}

@media screen and (max-width: 1142px) {
  .form__title {
    margin: 165px auto 0;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 968px) {
  .form__title {
    margin: 80px auto 0;
  }
}

@media screen and (max-width: 568px) {
  .form__title{
    margin: 60px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .form__title{
    font-size: 30px;
  }
}
