.form__container {
  max-width: 416px;
  margin: 165px 80px 144px;
}

@media screen and (max-width: 1142px) {
  .form__container {
    margin: 165px auto 144px;
  }
}


@media screen and (max-width: 968px) {
  .form__container {
    margin: 40px auto 40px;
  }
}


@media screen and (max-width: 425px) {
  .form__container {
    margin: 40px 24px 40px;
  }
}
