@import url(./__text/opinions__text.css);
@import url(./__title/opinions__title.css);
@import url(./__subtitle/opinions__subtitle.css);


.opinions {
  margin: 0 auto;
  padding-top: 160px;
  width: calc(100% - 80px * 2);
  box-sizing: border-box;
}


@media screen and (max-width: 420px) {
  .opinions {
    width: calc(100% - 40px * 2);
    padding-top: 80px;
  }
}
