@import url(./__text/opinions__text.css);
@import url(./__title/opinions__title.css);
@import url(./__subtitle/opinions__subtitle.css);


.opinions {
  margin: 160px auto 174px;
  width: calc(100% - 80px * 2);
}


/* @media screen and (max-width: 968px) {
  .opinions {
    padding-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .opinions {
    padding-top: 70px;
  }
} */


@media screen and (max-width: 420px) {
  .opinions {
    width: calc(100% - 40px * 2);
    /* padding-top: 80px; */
  }
}
